/* styling the page for the password generator */
body {
    background-color: rgb(40, 36, 36);
    margin: 0;
    min-height:100;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family:'Times New Roman', Times, serif;
}

/* styling the password generator box */
.container {
    background-color:#006699;
    padding: 3rem;
    border-radius: 1rem;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-direction: column;
}

/* styling the form inputs*/
.form{
    display: grid;
    grid-template-columns:auto auto;
    row-gap: 1rem;
    column-gap: 2rem;
    justify-content: center;
    align-items: center;
}

/* styling the elements */
.title {
    margin: 0;
    text-align: center;
}

label {
    font-weight: bold;
}
.characterAmtContainer {
    display: flex;
    align-items: center;
}

.number-input {
    width: 2rem;
}

.password-display {
    background-color: white;
    color: black;
    padding: 1rem;
    border: 1px solid #333;
    height: 2rem;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: .5rem;
}

.btn {
    grid-column: span 2;
    background-color: transparent;
    border: 2px solid white;
    color: white;
    padding: 8px 16px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 1rem;
}

.btn:hover {
    background-color: #FFFFFF33;
}